<app-header></app-header>

<div class="jumbotron parallax" id="parallax-static">
    <h2 class="display-3">Share your knowledge using Genius IT circle</h2>
    <p class="lead">Project based learning approach for your IT career.</p>
    
    <div class="smart_search ui_widget">
        <form>
            <input type="text" class="form-control ui-autocomplete-input" id="tags" aria-label="What you would like to learn today?" placeholder="What would you like to learn today?" autocomplete="off">
            <button type="submit" class="btn btn-success" id="btnHomeSearch">Search</button>
            
        </form>
    </div>
</div>

<section id="t-cardsCaption">
    <div class="container">
        <div class="row">
             
            <div class="col-md-4">
            
                <div class="item-wrap">
                    <a href="https://github.com" target="_blank"><i class="fa fa-github icons" style="color:black;"></i></a>
                        <h4>Our GitHub Repo</h4>
                            <p></p>
                                <p>Learn incrementally using project based architecture</p>
                            <p></p>
                </div>
            </div>
    
            <div class="col-md-4">
    
                <div class="item-wrap">
                   <a routerLink="/user/signin"><i class="fas fa-user-plus icons"></i> </a>
                        <h4>Join us </h4>
                            <p></p>
                                <p>Each material is compiled by certified IT professional</p>
                            <p></p>
                </div>
    
            </div>
    
            <div class="col-md-4">
    
                <div class="item-wrap">
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube icons" style="color:#bb0000;"></i></a>
                        <h4>Our Videos</h4>
                            <p></p>
                                <p>Learn anywhere and anytime</p>
                            <p></p>
                </div>
    
            </div>
            
		   
	    </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 TopCourseHolder">
             <h2> <i class="fas fa-video-slash fa-2x" style="color:#15aabf;"></i> Latest Courses</h2>
        </div>
    </div>
</div>


<section id="t-cards">
    <div class="container">
        <div class="row">
             
            <div class="col-sm-6 col-md-3">
                 <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>
            
		   
	    </div>
    </div>
</section>


<section id="t-cardsCaption">
    <div class="container">
        <div class="row">


        <div class="col-md-4">
            
            <div class="item-wrap">
                <i class="fa fa-cog icons"></i>
                    <h4>Project Based Learning</h4>
                        <p></p>
                            <p>Learn incrementally using project based architecture</p>
                        <p></p>
            </div>
        </div>

        <div class="col-md-4">

            <div class="item-wrap">
                <i class="fa fa-check-circle icons"></i>
                    <h4>Best Material Guranteed</h4>
                        <p></p>
                            <p>Each material is compiled by certified IT professional</p>
                        <p></p>
            </div>

        </div>

        <div class="col-md-4">

            <div class="item-wrap">
                <i class="fa fa-calendar icons"></i>
                    <h4>Flexible Learning</h4>
                        <p></p>
                            <p>Learn anywhere and anytime</p>
                        <p></p>
            </div>

        </div>
    	   
	    </div>
    </div>
</section>



<div class="container">
    <div class="row">
        <div class="col-sm-12 TopCourseHolder">
             <h2> <i class="fab fa-hotjar fa-2x" style="color:#fd7e14;"></i> Top Courses</h2>
        </div>
    </div>
</div>


<section id="t-cards">
    <div class="container">
        <div class="row">
             
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card courseHolde">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                        <button class="btn btn-primary btn-sm" role="button" routerLink="/tutorial">Start</button>
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body text-center courseTitle">
                        <h4 class="panel-header"><a href="#">Core Java</a></h4>
                        <small>A short description goes here.</small>
                    </div>
                </div>   
            </div>
            
		   
	    </div>
    </div>
</section>

<app-footer></app-footer>