<!-- Footer -->
<footer class="page-footer" style="background-color: #1e709c;color:white;">
<div class="container-fluid text-center text-md-left">
    <hr/>
      <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h6 class="spacing font-weight-bold"> <strong>Useful links</strong></h6>
                <hr class="info-color">
                <p id="footer-link-angular-browser">License</p>
                <p id="footer-link-angular-browser">Frequently Asked Questions</p>
                <p id="footer-link-angular-browser">Privacy Policy</p>
            </div>
            <div class="col-sm-3">
                <h6 class="spacing font-weight-bold"> <strong>Resources</strong></h6>
                <hr class="info-color">
                <p id="footer-link-angular-browser">PL/SQL Programming</p>
                <p id="footer-link-angular-browser">MySQL Programming</p>
                <p id="footer-link-angular-browser">Vue JS</p>
                <p id="footer-link-angular-browser">Angular JS</p>
                <p id="footer-link-angular-browser">Mockito</p>
                <p id="footer-link-angular-browser">Core Java</p>
                <p id="footer-link-angular-browser">Design Pattern</p>
                <p id="footer-link-angular-browser">Spring </p>
                <p id="footer-link-angular-browser">Python</p>
                <p id="footer-link-angular-browser">Machine Learning</p>
            </div>
            <div class="col-sm-2">
                <h6 class="spacing font-weight-bold"> <strong>About Us</strong></h6>
                <hr class="info-color">
                <p id="footer-link-angular-browser">Our Goal</p>
                <p id="footer-link-angular-browser">Our Team</p>
            </div>
            <div class="col-sm-2">
                <h6 class="spacing font-weight-bold"> <strong>Social Media</strong></h6>
                <hr class="info-color">
                <p id="footer-link-angular-browser">Linkedin</p>
                <p id="footer-link-angular-browser">Twitter</p>
                <p id="footer-link-angular-browser">Facebook</p>
                <p id="footer-link-angular-browser">GitHub</p>
                
            </div>
      </div>
</div>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://geniusitcircle.com/"> Genius IT circle</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->