<app-header></app-header>
<br/>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3">
              
            <div class="tutorialTitleHolder">
                Java Developement
            </div>

            <div class="tutorialLinkHolder">
                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>
            </div>



            <div class="tutorialTitleHolder">
                Resources
            </div>

            <div class="tutorialResourceHolder">
                <p>
                    <i class="fab fa-github fa-3x"></i>  
                </p>

                <p>
                    <i class="fab fa-youtube fa-3x"></i>  
                </p>
            </div>



        </div>


        <div class="col-sm-9">

            <div class="tutorialTitleHolder">
                How to install Java 
            </div>
            <br/>
            
            <div class="card">
                <div class="card-block p-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YozEr0OjzuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <br/>

            <div class="alert alert-success">
                <div class="row">
                    <div class="col-sm-4">
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <br/>
                     10 Reviews
                    </div>
 
                    <div class="col-sm-4">
                     <span class="material-icons md-48" >bar_chart</span>
                     <br/>
                     Difficulty Level
                 </div>
 
                 <div class="col-sm-4">
                     <span class="material-icons">watch </span> 
                     <br/>
                     Duration: 30 Minutes
                 </div>
                </div>
             </div>

             <div class="card">
                <div class="card-block p-3">
                    
                    <p>
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                    </p>
        
                    <p>
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                    </p>
        
                    <p>
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                        We’ll learn how we can set up routing manually using a Router Module and outlet, how to add routes to our components to the Router configuration and how to use the redirectTo property to redirect users to different routes. We’ll also see the difference between the prefix and full matching strategies and how to use the routerLink directive to create navigation links. 
                    </p>

                </div>
            </div>
 

        </div>

    </div>
</div>

<app-footer></app-footer>