    <div class="userProfileHolder">
        <h3>Pratikshya's Profile</h3> 
        <div class="userProfileImage">
            <img src="assets/img/user.png" class="rounded-circle" alt="Cinque Terre" width="200" height="200">
        </div>
        <div class="userProfileCaption">
            With help from VSCode, and some of manual tasks, this is how I rename an Angular component.
            With help from VSCode, and some of manual tasks, this is how I rename an Angular component.
        </div>

        <div class="socialIcon">
            <i class="fab fa-github fa-3x gitHubLogo"></i>
            <i class="fab fa-twitter fa-3x linkedinLogo"></i>
            <i class="fab fa-linkedin fa-3x twitterLogo"></i>
        </div>

        <hr/>

        <div class="profileBtn">
            <div class="userProfileBtn"><i class="fas fa-home"></i>  <a routerLink="/user/profile"> Home</a> </div>
            <div class="userProfileBtn"><i class="far fa-newspaper"></i>  <a routerLink="/user/post"> Post Article</a> </div>
        </div>

    </div>
