<app-header></app-header>
<br/>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3">
              <app-leftnav></app-leftnav>
        </div>


        <div class="col-sm-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>

            <div class="userContentHolder">
                <h3>Why Every Developer Should Have a Blog</h3> 
                
                <div>
                    <div class="mic-info">
                        <i class="fas fa-user-alt"></i> Author: <a href="#">Bhaumik Patel</a> 
        
                        <i class="fas fa-calendar"></i> Posted on: 2020/04/15
        
                        <i class="fas fa-tag"></i> Category: Java Programming 
                    </div>
                </div>
                <br/>
                <div class="userProfileCaption">
                    With help from VSCode, and some of manual tasks, this is how I rename an Angular component.
                    With help from VSCode, and some of manual tasks, this is how I rename an Angular component.
                </div>
                <br/>
                <a href="">Read more</a>
                <br/>
                <div style="text-align: right;">
                    <div class="mic-info">
                        <span class="actionText">Status: </span> <i class="fas fa-dot-circle fa-2x trafficLightPost"></i>
                        <span class="actionText">Action: </span> <i class="fas fa-trash fa-2x deletePost"></i>
                    </div>
                </div>
            </div>
        </div>
        


    </div>
</div>